/*---------------------------FONTS---------------------------*/
@import url(https://fonts.googleapis.com/css?family=Piedra);
/*-------------------------FONTS END-------------------------*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: #333;
}
.hidden{
	display: none;
}
#siteCointainer{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background: #FFF;
	overflow: hidden;
	min-height: 100vh;
}

#mainManuAria{
	position: relative;
	background: #000;
}
#mainManu{
	list-style: none;
	overflow: hidden;
}
#mainManu li{
	float: left;
	width: 25%;
}
#mainManu li a img{
	height: inherit;
}
#mainManu li a:link, #mainManu li a:visited{
	color: #11D8FD;
	display: block;
	text-align: center;
	line-height: 80px;
	height: 80px;
	text-decoration: none;
	font-family: Piedra;
	font-size: 1.2em;
}
#mainManu li a:hover{
	color: #10bbdb;
	background: #111;
}
#mainManu li a:active{
	background: #FA8F11;

}
#quickLinks{
	position: absolute;
	right: 0;
	top: 2px;
	overflow: hidden;
	list-style: none;
}
#quickLinks li{
	float: left;
}
#quickLinks li a{
	color: #FA8F11;
	text-decoration: none;
	padding: 0 5px;
	border-right: 1px solid #FA8F11;
	font-size: 0.8em;
}
#quickLinks li:last-child a{
	border-right: none;
}

/*-----------------------------------------------MAIN-----------------------------------------------*/
main{
	margin: 20px 40px;
	
}
h1{
	text-align: center;
}
main form #Mainserch{
	clear: both;
	display: block;
	width: 100%;
	line-height: 40px;
	font-size: 36px;
	border: 1px solid #000;
	box-sizing: border-box;
}
main form #Mainserch:focus{
	outline: none;
	border-color: #11D8FD;
}
main form #Mainserch::-webkit-input-placeholder{
	color: #000;
}
main form #Mainserch:focus::-webkit-input-placeholder{
	color: #666;
}
main form #Mainserch:-moz-placeholder{
	color: #000;
}
main form #Mainserch::-moz-placeholder {
	color: #000;
}
main form #Mainserch:-ms-input-placeholder{
	color: #000;
}
main #Newinfo{
	display: block;
	background: none;
	border:1px solid #000;
	width: 100%;
	line-height: 40px;
	font-size: 36px;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
}



/*-----------------------------------------------aktiviteter 2-----------------------------------------------*/

h3 {
	text-decoration: bold;
	margin-top: 10px;
}
#allUsers{
	list-style:none;
}
.activities {
	border:1px solid #000;
	padding: 5px;
	position:relative;
	margin-bottom:10px;
	min-height: 110px;
}
.activities ol li{
	margin-left:20px;
}
.userNamn{
	font-size:24px;
	line-height:32px;
	display:inline;
	margin-right:5px;
}
.prio{
	width: 100px;
	height:100px;
	position:absolute;
	top: 10px;
	right: 10px;
}
.status{
	width:90px;
	position:absolute;
	right: 15px;
	top: 40px;
	z-index:100;
}
.gron{
	background-color:rgb(0,120,2);
}
.rod{
	background-color:#E52E12;
}
.bla{
	background-color:#2600B9;
}
.lila{
	background-color:#D62EFF;
}
.rasa{
	background-color:#FF00A8;
}
.missing{
	/*TBD*/
}

.edit{
	background: #DDD;
}

select {
	margin-bottom: 5px;
}

.userInfoRight{
	float: right;
	text-align: right;
	list-style: none;
}
